body{
    width: 100%;
    min-height: 100vh;
    background: purple;
    background: linear-gradient(#111 , #ae00ff);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4em;
    height: 6em;
    color: #fff;
}

.logo{
    font-size: 2em;
    font-weight: 800;
}

ul{
    margin-right: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style: none;
}

li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

li a:hover{
    border-bottom: 0.1em solid #fff;
}

button a{
    color: antiquewhite;
    text-decoration: none;
}



.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


a {
    text-decoration: none;
    color: white;
}